<div class="card my-3 p-2">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">By:
      <span class="fst-italic fw-semibold">{{author_name.username}}</span>
      on
      {{format_time posted_date}}</p>
    <a href="/blogposts/{{id}}" class="btn btn-secondary">READ</a>
  </div>
</div>