<section class="homepage-blogs">
  <h2><a href="/blogposts/{{id}}">{{title}}</a><span class="author">
      by
      {{author_name.username}}
      on
      {{format_time posted_date}}</span></h2>
</section>