<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/dashboard">DASHBOARD</a></li>
          {{#if logged_in}}
            <button id="logout"></button>
          {{else}}
            <li><a href="/login">LOGIN</a></li>
          {{/if}}

        </ul>
      </nav>
    </header>

    {{{body}}}

  </body>

  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}

</html>