<section>
  <h1>Dashboard</h1>
  <button id="add-post">Add Post</button>

  <form id="blog-form">
    <section class="blog-section">
      <label for="blog-title">Title:</label>
      <input type="text" id="blog-title" />
    </section>
    <section class="blog-section">
      <label for="blog-content">Content:</label>
      <input type="text" id="blog-content" />
    </section>
    <section class="blog-section">
      <button type="submit">SUBMIT</button>
    </section>

  </form>
</section>

<script src="/js/postblog.js"></script>