<div class="container">
  <div class="row">
    <div class="col-6">
      <form class="login-form h-100 card p-2">
        <h2 class="text-center">LOGIN</h2>
        <div class="mb-3">
          <label class="form-label" for="email-login">E-mail:</label>
          <input class="form-control" type="email" id="email-login" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password-login">Password:</label>
          <input class="form-control" type="password" id="password-login" />
        </div>
        <div class="mb-3 text-center">
          <button class="btn btn-success" type="submit">LOGIN</button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <form class="register-form card p-2">
        <h2 class="text-center">REGISTER</h2>
        <div class="mb-3">
          <label class="form-label" for="username-register">Username:</label>
          <input class="form-control" type="text" id="username-register" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="email-register">E-mail:</label>
          <input class="form-control" type="email" id="email-register" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password-register">Password:</label>
          <input class="form-control" type="password" id="password-register" />
        </div>
        <div class="mb-3 text-center">
          <button class="btn btn-success" type="submit">REGISTER</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>